.post-content{
    border-bottom: 1px solid var(--grey);
}

.interact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.like img{
    width: 20px;
    height: auto;
    margin-right: 10px;
}
